.taskbar {
    height: 95%;
    top : 1rem;
    left : 1rem;
    width : 5rem;
    position: fixed;
    display: 'flex';
    direction: 'collumn';
    gap : '.3rem';
    justify-content: center;
    z-index: 15;
}

.button {
    width : '100%';
    aspect-ratio: 1;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 0.6rem;
    display: flex;
    direction: row;
}